/* carousel.css */

.carousel {
  position: relative;
  width: 100%;
  height: 100vh; /* во весь экран */
  overflow: hidden;
}

.carousel-slide {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  z-index: 1;
}

.carousel-slide.active {
  opacity: 1;
  z-index: 2;
}

.carousel-slide img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

.carousel-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0,0,0,0.5);
  color: white;
  font-size: 2em;
  padding: 10px;
  cursor: pointer;
  z-index: 3;
  border-radius: 50%;
  user-select: none;
}

.carousel-control.left {
  left: 20px;
}

.carousel-control.right {
  right: 20px;
}

/* Контент под слайдером */
.main-content {
  padding: 60px 20px;
  background-color: rgb(19, 13, 13);
  text-align: center;
}
